---
import { Icon } from "astro-icon";

export interface Props {
  name: string;
  url?: Url;
  repo?: Url;
  date: string;
}
interface Url {
  name: string;
  href: string;
}

const { name, url, repo, date } = Astro.props;
---

<li class="block m-0">
  <div class="flex items-baseline gap-x-2 flex-wrap mb-1">
    <h3 class="leading-none">{name}</h3>
    {
      url && (
        <span>
          <a href={url.href} target="_blank" rel="noopener">
            {url.name}
          </a>
        </span>
      )
    }
    {
      repo && (
        <span class="contents">
          <Icon name="simple-icons:github" width="16px" height="16px" />
          <a href={repo.href} target="_blank" rel="noopener noreferrer">
            {repo.name}
          </a>
        </span>
      )
    }
  </div>
  <div class="text-xs flex align-baseline gap-0.5">{date}</div>
  <ul class="mt-2 mb-3 pl-1 leading-4">
    <slot />
  </ul>
</li>

<style>
  div > *:not(:first-child)::before {
    content: "|";
    font-size: larger;
    margin-right: 4px;
  }

  svg {
    transform: translateY(3px);
  }
</style>
