---
export interface Props {
  title: string;
  sub: string;
  date: string;
  location?: string;
  href?: string;
}

const { title, sub, date, location, href } = Astro.props;
---

<li class="mx-0 w-full block">
  <div class="flex justify-between items-baseline flex-wrap">
    <h3>{title}</h3>
    <span>{date}</span>
  </div>
  <div class="flex justify-between text-xs italic">
    <span>{sub}</span>
    {
      href ? (
        <a href={href}>{location}</a>
      ) : location ? (
        <span>{location}</span>
      ) : null
    }
  </div>
  <ul class="ml-6 mt-2 list-disc list-outside">
    <slot />
  </ul>
</li>
